@model PokemonWebApp.Domain.Pokedex

<h4>Pokemon Application</h4>
<div class="container">
    <div id="pokemon">
        @{
            foreach (var pokemon in Model.Values) {
                <div id="pokemon.Id">
                    @Html.Raw(pokemon.Name)
                </div>
            }
        }
    </div>
</div>

